@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #21282E;
    /* overflow: hidden; */
}

header {
    width: 100%;
    padding: 30px;
}

.nav {
    display: flex;
    align-items: center;
    padding: 30px 60px;
}

.navbar,
ul {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.main-menu {
    margin-left: 40px;
}

.navbar ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
}

.main-menu ul li a {
    text-decoration: none;
    padding: 0 20px;
}

.navbar ul li a:hover {
    color: gray;
    transition: all 0.5s ease-in-out 0s;
}

.buttons {
    margin-left: 32px;
}

.buttons .job {
    background-color: #43a724;
    color: white;
    padding: 15px 26px;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #43a724;
    border-radius: 26px;
    cursor: pointer;
}

.buttons .job:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}

.buttons .login {
    background-color: #ffff;
    color: #43a724;
    padding: 15px 26px;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #43a724;
    border-radius: 26px;
    cursor: pointer;
}

.buttons .login:hover {
    color: #67b250;
    transition: all 0.3s ease-in-out 0s;
}

.container {
    width: 100%;
    display: flex;
    margin-top: 14px;
}

.container .left {
    width: 45vw;
    padding: 8px 30px;
    margin-left: 18px;
}

.left h1 {
    font-size: 58px;
    color: #21282E;
    margin: 10px 0;
}

.left span {
    font-size: 55px;
    font-weight: bolder;
    color: #43a724;
    margin: 12px 0;
}

.left p {
    font-size: 22px;
    color: #717275;
    margin-top: 23px;
}

.images {
    padding: 12px 18px;
}

.images img {
    padding: 12px;
}

.left-buttons {
    display: flex;
    align-items: center;
}

.job-btn {
    display: flex;
    flex-direction: column;
}

.job-btn .job {
    width: 200px;
    background-color: #ffff;
    color: #43a724;
    padding: 15px 26px;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid hsl(106, 65%, 40%);
    border-radius: 26px;
    cursor: pointer;
}

.job-btn .job:hover {
    color: #67b250;
    transition: all 0.3s ease-in-out 0s;
}

.lms-btn {
    display: flex;
    flex-direction: column;
}

.lms-btn .lms {
    width: 200px;
    background: linear-gradient(80deg, #84f661, #3dd442);
    color: #ffff;
    padding: 15px 26px;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

.left-buttons .lms:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}

.left-buttons span {
    text-align: center;
    font-style: italic;
    font-size: 13px;
    color: black;
}

.container .right {
    width: 55vw;
    height: 110vh;
    background-color: rgb(240, 238, 238);
}

.hero-section {
    width: 100%;
    margin-top: 50px;
}

.main {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin: auto;
}

.main img {
    margin: auto;
    height: auto;
    margin-top: 25px;
    border-radius: 20px 2px 20px 20px;
    background-color: #fff;
    box-shadow: 2px 1px 7px 0px rgba(0, 0, 255, .2);
    ;
}

.main .main-heading {
    font-size: 50px;
    padding: 40px;
}

.main .main-reminder {
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 160%;
    color: #4A5056;
    padding-bottom: 20px;
}

.main span {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 30px;
}

.cards-section {
    width: 95%;
    height: auto;
    /* margin-top: 35px; */
    margin: 30px;
    background-color: #43a724;
    border-radius: 30px;
    color: white;
    box-shadow: 1px 9px 9px 0px #e8d1a7;
}

.cards-wrapper {
    display: flex;
    padding: 30px 0px;
    
}
.left-side{
    margin: 30px 0;
    width: 24%;
}
.left-side h2 {
    width: 353px;
    font-size: 32px;
    color: white;
    padding: 45px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: auto;
    padding: 12px;
    margin: 10px;
    margin-bottom:10px ;
    background-color: white;
    border-radius: 23px;
    padding-bottom: 41px;
}

.card img {
    margin: 23px 0;
}
.card a{
    text-decoration: none;
}

.card h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 12px 0;
}
.card p{
    font-size: 15px;
    width: 233px;
    line-height: 23px;
    text-align: center;
    font-weight: 300;
    margin: 26px 12px;
}
.card button{
    cursor: pointer;
    font-size: 15px;
    margin: 12px 73px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #43a724;

}
.cards-buttons{
    display: flex;
    justify-content: center;
}
.cards-buttons ul{
    margin: 8px;
}
.cards-buttons ul li{
    list-style-type: none;
    margin: 0 5px;
    
}
.cards-buttons ul li button{
    width: 17px;
    height: 17px;
    cursor: pointer;
    border: 1px solid rgb(234, 231, 231);
    border-radius: 23px;
    background-color: #43a724;
}
.cards-buttons ul li button:hover{
    background-color: white;
}
.cards-section .cards-para {
    display: flex;
    justify-content: center;
}
.cards-section .cards-para p{
    font-size: 30px;
    color: white;
    padding: 12px;
}
.cards-section .cards-para p span{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.job-internship{
    margin-bottom: 10%;
}
.job-section{
    width: 100%;
}
.job-container{
    width: 100%;
    display: flex;
    margin-top: 58px;
    
}
.job-container p{
    margin-top: 85px;
    width: 533px;
    font-size: 19px;
    line-height: 29px;
    margin-left:100px ;

}
.job-container p span{
    font-size: 20px;
    font-weight: 700;
}
.job-btn{
    padding: 9px 9px;
    width: 184px;
    font-size: 18px;
    margin: auto;
    margin-right: 100px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: black;
}
.job-btn:hover{
    background-color:#8c52fe ;
    color: white;
}
.job-cards{
    display: flex;
    align-items: center;
    width:95% ;
    margin: 10px 30px;
    padding: 20px 35px;
}
.job-thumb{
    border: 1px solid rgb(218, 215, 215);
    border-radius: 12px;
    width: 350px;
    margin: 0px 17px;
    padding-bottom: 20px;
    cursor:pointer;
}
.job-thumb:hover{
    box-shadow: 2px 14px 24px -4px rgb(197 192 192);
}

.job-image img{
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
    border-radius: 12px;
}
.job-title{
    font-size: 15px;
}
.job-title h3{
    margin: 21px 10px;
}
.job-title h3 a{
    text-decoration: none;
    padding: 12px 23px;
}
.job-thumb hr{
    background-color: #cdcfd2;
    margin: 12px 23px;
    height: 1px;
    outline: none;
    border: none;
}
.job-card-button{
    margin: 24px 0px;
}
.job-card-button a{
    text-decoration: none;
    margin-left: 219px;
    padding: 9px 12px;
    background-color: #43a724;
    color: white;
    border-radius: 8px;
}
.blog-container{
    background-color: #f8f9fa;
    width: 100%;
    height: auto;
    margin:50px 0;
}
.blog-container .sub-heading{
    text-align: center;
    font-size: 23px;
    margin: 20px;
}
.blog-container h2{
    text-align: center;
    margin: 17px;
    font-size: 36px;
}
.blog{
    display: flex;
    justify-content: center;
    padding: 60px 30px;
}
.blog-card{
    width: 275px;
    margin: 0 13px;
}
.blog-card h3{    
    font-size: 25px;
    padding: 13px;
    margin: 10px 0;
}
.blog-card h3 a{
    text-decoration: none;
    cursor: pointer;
}
.blog-card h3 a:hover{
   color: #858181;
   transition: all 0.3s ease-in-out 0s;
}
.blog-card p{
    margin: 14px;
    font-size: 19px;
    line-height: 31px;
    color: #504c4c;
    padding: 15px 0;
}

/* .transform{
    transform: translateX(-100%) translateY(6px);;
} */

.task-portal{
    width: 100%;
    display: flex;
}
.task-image{
    margin: 20px 30px;
    /* transition: all transform 3s ease-in-out 0s; */

}
.task-listing-heading{
    width: 85%;
    padding: 13px;
}
.task-listing-heading span{
    font-size: 21px;
    font-weight: 600;
}
.task-listing-heading h1{
    font-size: 44px;
    margin-bottom: 17px;
}
.task-listing-heading p{
    font-size: 19px;
    color: #4e4a4a;
    line-height: 27px;
    margin: 10px 3px;
}
.task-listing-box{
    border: 2px solid gray;
    width: 50%;
}
